@model ST10038937_prog7311_poe1.Models.Farmer

@{
    ViewData["Title"] = Localizer["Farmer Details"];
}

<h1 data-translate-key="Farmer Details">Farmer Details</h1>

<div>
    <h4 data-translate-key="Farmer">Farmer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" data-translate-key="Name">Name</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" data-translate-key="Farm Name">Farm Name</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FarmName)
        </dd>
        <dt class="col-sm-2" data-translate-key="Email">Email</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2" data-translate-key="Phone">Phone</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2" data-translate-key="Address">Address</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FarmerId" data-translate-key="Edit">Edit</a> |
    <a asp-action="Index" data-translate-key="Back to List">Back to List</a>
</div>
